@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.neutral-content');
    box-shadow: theme('boxShadow.md');
  }
}

.fade-anim img {
  animation: fadeAnim 1000ms ease-out;
}

@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
